*{
    margin: 0;
}
body{
    background-color:rgb(200, 144, 244);
    
    

}
nav{
    background-color: #ffffff;
    padding: 0.5em;
    
}
.nav-link{
    font-size: 1.5em;
    text-decoration: none;
    margin-right: 0.5em;
    border: black solid 0.2em;
    padding: 0.1em;
}
.nav-link:hover{
    background-color: yellowgreen;
    color: rgb(15, 116, 156);
}